.SearchBar-container {
  display: flex;
  width: 70vw;
  justify-content: center;
  align-content: center;
}

.SearchBar-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  width: 100%;
}
.SearchBar-input {
  margin-top: 2vh;
  background-color: #c0e8b4;
  color: var(--green-text);
  padding: 1.5vh 0 1.5vh 5vw;
  font-size: 18px;
  border-radius: 4px;
  border: none;
  box-shadow: #9aba90 4px 4px 12px, #dfffd4 -4px -4px 12px;
  -moz-box-shadow: #9aba90 4px 4px 12px, #dfffd4 -4px -4px 12px;
  -webkit-box-shadow: #9aba90 4px 4px 12px, #dfffd4 -4px -4px 12px;
}
