.App-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.App-header {
  border: 2px solid black;
  width: 100vw;
}
.App-ul {
  display: flex;
  justify-content: space-around;
  padding: 3%;
  border: 2px solid blue;
}
.App-navlink {
  list-style-type: none;
}
