:root {
  --main-bg-color: #c0e8b4;
  --main-accent: #90c290;
  --green-text: #4f6a4f;
  --lightshadow: #dfffd4;
  --darkshadow: #9aba90;
  --font-color: #586a52;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
