.Details-page-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.Details-weather-container {
  display: flex;
  width: 80vw;
  flex-direction: column;
  padding: 1vh 3vw 1vh 3vw;
  margin-top: 3vh;
  border-radius: 8px;
  background-color: var(--main-bg-color);
  box-shadow: var(--darkshadow) 4px 4px 12px, var(--lightshadow) -4px -4px 12px;
  -moz-box-shadow: var(--darkshadow) 4px 4px 12px,
    var(--lightshadow) -4px -4px 12px;
  -webkit-box-shadow: var(--darkshadow) 4px 4px 12px,
    var(--lightshadow) -4px -4px 12px;
}

.Details-extras {
  display: flex;
  flex-direction: column;
}
.Details-temp-box {
  display: flex;
  justify-content: flex-start;
}
.Details-high-low {
  display: flex;
  flex-direction: column;
  color: var(--font-color);
}
.Details-current-temp {
  font-size: 2.8rem;
  margin: 0;
  color: var(--font-color);
}
.Details-small-temp {
  margin: 6px 0 0 2vw;
}

.Details-lower {
  margin-top: 2vh;
  display: flex;
  justify-content: flex-end;
  width: 80vw;
}
.Details-extras h4 {
  color: var(--font-color);
}

.Details-heart {
  width: 25vw;
  height: 60px;
  border-radius: 8px;
  border: none;
  background-color: var(--main-bg-color);
  box-shadow: var(--darkshadow) 4px 4px 12px, var(--lightshadow) -4px -4px 12px;
  -moz-box-shadow: var(--darkshadow) 4px 4px 12px,
    var(--lightshadow) -4px -4px 12px;
  -webkit-box-shadow: var(--darkshadow) 4px 4px 12px,
    var(--lightshadow) -4px -4px 12px;
  transition: background-color 0.3s;
}
.Details-heart-icon {
  fill: var(--darkshadow);
  transition: fill 0.3s;
}

.Details-heart-icon-on {
  fill: #9c528b;
}
.Details-heart-on {
  background-color: var(--lightshadow);
}

@media only screen and (min-width: 1024px) {
  .Details-heart:hover {
    background-color: var(--lightshadow);
  }
  .Details-heart:hover > .Details-heart-icon {
    fill: #9c528b;
  }
}
